<div class="col-md-5">
  <a href="/expressions/{{ _id }}">{{ french }}</a>
</div>
<div class="col-md-5">
  <a href="/expressions/{{ _id }}">{{ english }}</a>
</div>
<div class="col-md-2">
  <span data-id="{{ _id }}" class="delete glyphicon glyphicon-remove-circle"></span>
</div>